
@*<div class="newsletter bg-primary py-5">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-6">
                <h2>Newsletter</h2>
                <p>Sign up for the latest news.</p>
            </div>
            <div class="col-md-6">
                <form class="d-flex">
                    <input type="text" class="form-control" placeholder="Email">
                    <input type="submit" value="Subscribe" class="btn btn-white">
                </form>
            </div>
        </div>
    </div>
</div>*@

<footer class="site-footer">
    <div class="container">
        <row>
            <b>
                <a class="pl-0 pr-3" asp-action="About" asp-controller="Home"><span class="text-primary">About us</span></a>  &nbsp
                <a class="pl-0 pr-3" asp-action="Contact" asp-controller="Home"><span class="text-primary">Contact Us</span></a>  &nbsp;
                <a class="pl-0 pr-3" asp-action="blog" asp-controller="posts"><span class="text-primary">Blog</span></a>  &nbsp;
                <a class="pl-0 pr-3" href="/posts/31/create-website.htm" title="Make a Website"><span class="text-primary">Make a Website</span></a>  &nbsp
                <a class="pl-0 pr-3" href="/posts/14/content-writing-jobs.htm" title="Writing Jobs "><span class="text-primary">Writing Jobs </span></a>  &nbsp;
                <a class="pl-0 pr-3" href="/posts/16/freelancing.htm" title="Freelance Jobs"><span class="text-primary">Freelance Jobs </span></a>  &nbsp;
                <a class="pl-0 pr-3" href="/posts/15/affiliate-marketing-india.htm" title="Affiliate Marketing Beginner’s Guide "><span class="text-primary">Affiliate Marketing Beginner’s Guide </span></a>

            </b>
        </row>
        <hr />
        <div class="row">
            <div class="col-md-9">
                <div class="row">
                    <div class="font-weight-light">
                        <a>
                            &nbsp;&nbsp; Copyright
                            <script>document.write(new Date().getFullYear());</script> tuitioner.in  &nbsp;&nbsp;
                        </a>
                        <a class="pl-0 pr-3" asp-action="Disclaimer" asp-controller="Home"><span class="text-primary footer-text">Disclaimer</span></a>
                        <a class="pl-0 pr-3" asp-action="Privacy" asp-controller="Home"><span class="text-primary footer-text">Privacy Policy</span></a>
                        <a class="pl-0 pr-3" asp-action="SitemapXml" asp-controller="Sitemap"><span class="text-primary footer-text">Sitemap</span></a>
                        &nbsp;&nbsp;
                        <a href="#" class="pl-0 pr-3"><span class="icon-facebook"></span></a>
                        <a href="#" class="pl-3 pr-3"><span class="icon-twitter"></span></a>
                        <a href="#" class="pl-3 pr-3"><span class="icon-instagram"></span></a>
                        <a href="#" class="pl-3 pr-3"><span class="icon-linkedin"></span></a>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <form action="#" method="post">
                    <div class="input-group mb-3">
                        <input type="text" class="form-control border-secondary text-white bg-transparent" placeholder="Email" aria-label="Enter Email" aria-describedby="button-addon2">
                        <div class="input-group-append">
                            <button class="btn btn-primary text-white" type="button" id="button-addon2">Subscribe</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</footer>