@model Gyanisa.Models.ViewModel.PostRequireModel
@{
    Layout = null;
}

<link href="~/css/post_req.min.css" rel="stylesheet" />
<div id="post_req" class="modal fade" role="dialog">
    <br />
    <br />
    <br />
    <br />
    <br />
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <label> Tutoring</label>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <form asp-action="PostRequire" asp-controller="Tutor" method="post">
                    <div id="regForm">


                        <!-- Circles which indicates the steps of the form: -->
                        <div style="text-align:center;margin-top:20px; color:darkgreen;">
                            <span class="step"><sup>1</sup></span>
                            <span class="step"><sup>2</sup></span>
                            <span class="step"><sup>3</sup></span>
                            <span class="step"><sup>4</sup></span>
                        </div>
                        <div asp-validation-summary="All" class="text-danger"></div>
                        <div class="tab">
                            <h5><b>Legal Name*</b></h5>
                            <p><input asp-for="FullName" placeholder="Type your Legal name here..." oninput="this.className = ''" name="FullName" type="text"></p>
                        </div>

                        <div class="tab">
                            <h5><b>Require Subject*</b></h5>
                            <p><input asp-for="Subject" placeholder="What do you want to learn?" oninput="this.className = ''" name="subject" type="text"></p>
                        </div>


                        <div class="tab">
                            <h5><b>Mobile*</b></h5>
                            <p>+91<input asp-for="Mobile" placeholder="Type your answer here..." oninput="this.className = ''" id="mo1" name="mobile" type="number"></p>
                        </div>

                        <div class="tab">
                            <h5><b>Zip Code*</b></h5>
                            <p><input asp-for="Zip" placeholder="Type your Zip Code here" oninput="this.className = ''" name="Zip" type="number"></p>
                        </div>

                        <div class="tab">
                            <h5><b>Email*</b></h5>
                            <p><input asp-for="Email" placeholder="Type your E-mail here" oninput="this.className = ''" name="email" type="email"></p>
                            <input type="submit" value="Create" class="btn-success" />
                            <p style="font-size:smaller;">
                                <label>
                                    By Signing Up, you agree to our <span class="text-primary">
                                        <a asp-action="privacy" asp-controller="home"> Terms of Use</a>
                                    </span> & <span class="text-primary">Privacy Policy</span>
                                </label>
                            </p>
                        </div>


                        <div style="overflow:auto;">
                            <div style="float:right;">

                                <button type="button" id="prevBtn" onclick="nextPrev(-1)">Previous</button>
                                <button type="button" id="nextBtn" onclick="nextPrev(1)">Next</button>
                            </div>
                        </div>

                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>


    <script src="~/js/post_req.js"></script>


